﻿@model poject.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="/BMI/Index">
    height @Html.TextBoxFor(f => f.Height) cm @ViewBag.HeightError <br />
    weight @Html.TextBoxFor(f => f.Weight) kg @ViewBag.WeightError<br />
    <input type="submit" nam="name" value="送出" />
</form>
<br />

計算結果： @Model.BMI <br />
等級： @Model.Level
